<div class="container py-4">
  <div class="container-fluid py-5 text-center text-white rounded-3" id="jumbotron">
    <h1 class="display-4">Alpha Blog</h1>
    <p class="fs-4o text-white">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
    <button class="btn btn-success btn-center btn-lg" type="button">Sign up!</button>
  </div>
</div>
