<footer class="footer mt-auto py-3 bg-dark">
  <div class="container text-center">
    <small><span class="text-white">Copyright &copy; <%= link_to "Michele Cardone", "https://github.com/wandering-tales", class: "text-white" %></span></small>
  </div>
</footer>
